@font-face {
  font-family: 'roboto';
  font-style: normal;
  src: local('Roboto-Regular'), url(fonts/Roboto/Roboto-Light.ttf) format('truetype');
}

body{
	margin: 0 auto;
	font-family: 'roboto';
	font-weight: 300;
	color: #777777;
}

h1{
	text-align: left;
	text-transform: uppercase;
	width: 100%;
	color: black;
	font-size: 24px;
}

p{
	padding: 20px 0;
	text-align: center;
	margin: 0 auto;
}

footer{
	margin-top: 60px;
	color: black;
	border-top: 3px solid black;
}

footer p{
	max-width: 90%;
	padding: 40px 0;
}

div{
	display: flex;
	flex-wrap: wrap;
}

div.main{
	max-width: 90%;
	margin: 0 auto;
}

div.main a{
	font-size: 60px;
	display: block;
	text-align: center;
}

div.main a{
	text-decoration: none;
	color: #555555;
	transition: all .5s;
	width: 100%;
}

div.main > div > div > div:hover{
	background: #e0e0e0;
}

div.main:hover > a{
	color: white;
}

div.main a:active{
	-webkit-transform: rotate(360deg);
	transition: .3s;
}

div.row{
	width: 100%;
}

/*for very small devices, when a word takes more than
the screen's length, this lets user scroll right to
see the end of the word, and avoids horizontal scroll
of the whole page*/
div.row > div{
	overflow: hidden;
}

div.row.numbers{
}

div.main a{
	padding: 0 20px;
}

div.main a.syllable{
	color: black;
}

.syllable span{
	color: black;
}

.row:nth-child(even){
	background: #e6e6e6;
}