body{
	margin: 0 auto;
	font-family: 'roboto';
	font-weight: 300;
	color: black;
	background-color: #e6e6e6;
}
.main{
	background-color: white;
}
h1,h2,h3,h4{
	font-family: "roboto slab";
}
h1,h2,h3,h4,p,ul{
	margin: 0;
}
h1,h2{
	text-transform: uppercase;
}
h2::after {
    display: block;
    margin: auto;
    width: 3rem;
    height: 5px;
    content: "";
}
p{
	text-align: justify;
	font-family: "roboto";
}
a{
	background: #e6e6e6;
    color: black;
    padding: 0 .1rem;
}
a:hover{
	background: #ffffff;
    color: black;
}
.italic{
	font-style: italic;
}
::selection{
	background: black;
	color: white;
}
.main h1{
	text-align: center;
	padding: 1.5rem 1rem;
	font-weight: 300;
	font-size: 2.5rem;
	font-family: roboto;
}
h1 span{
	font-size: 40%;
	display: block;
}
.main h2{
	text-align: center;
	font-size: 2rem;
	background-color: #e6e6e6;
	padding: 1rem 2rem;
}
.main h3{
	font-size: 1.5rem;
	font-weight: 400;
	padding: 0 .5rem;
}
.main h3.clickable{
	cursor: pointer;
	background-color: #e6e6e6;
	padding: .2rem .5rem;
	transition: background-color .1s linear;
}
.main h3.clickable.active{
	cursor: pointer;
	background-color: white;
}
.underline{
	text-decoration: underline;
}
.main ul.grandeSection{
	list-style: none;
	padding: 0;
}
ul.grandeSection div{
	padding: 1.5rem 1.3rem; /*1.3 because there's a .2rem padding on children*/
}
ul.grandeSection li{
	padding-top: .5rem;
}
ul.grandeSection li:first-child{
	padding-top: 0;
}
ul.grandeSection p{
	font-size: 1rem;
}
li.periode > p{
	padding: 0 .5rem;
	max-height: 0;
	overflow: hidden;
	transition: max-height .1s linear;
}
/*underline titles / content borders*/
.prehistoire h2::after {
	background: brown;
}
.antiquite h2::after {
	background: orange;
}
.moyenage h2::after {
	background: #2F415E;
}
.epoquemoderne h2::after {
	background: #318Ce7;
}
.epoquecontemporaine h2::after {
	background: #1F9B5A;
}
.prehistoire > div {
	border-left: 5px solid brown;
}
.antiquite > div {
	border-left: 5px solid orange;
}
.moyenage > div {
	border-left: 5px solid #2F415E;
}
.epoquemoderne > div {
	border-left: 5px solid #318Ce7;
}
.epoquecontemporaine > div {
	border-left: 5px solid #1F9B5A;
}

@media screen and (min-width: 800px) {
	body{
		max-width: 720px;
	}
	ul.grandeSection div{
		padding: 2rem 1.8rem; /*1.8 because there's a .2rem padding on children*/
	}
	.main h1{
		padding: 2.5rem 1rem;
	}
}